scripts/__pycache__/
data/
images/
saved/
scripts/err
report/cosc420_A2.fls
report/cosc420_A2.out
report/cosc420_A2.log
report/cosc420_A2.synctex.gz
report/cosc420_A2.aux
report/cosc420_A2.fdb_latexmk
